$bronze: #a37b39;

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: auto;
    scrollbar-color: $bronze #000111;
    &::-webkit-scrollbar {
        width: 3px;
    }

    &::-webkit-scrollbar-track {
        background: #000111;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $bronze;
        border-radius: 1px;
        //border: 0px solid #fff;
    }
}

body {
    background-color: #000;
    background-image: url("../img/bg--mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Roboto", sans-serif;
    color: #fff;
    font-weight: 300;
    visibility: hidden;
    &.visible {
        visibility: visible;
    }
}

html,
body {
    overflow-x: hidden;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width: 767.98px) {
    body {
        background-image: url("../img/bg--tablet.jpg");
    }
}

@media screen and (min-width: 1199.98px) {
    body {
        background-image: url("../img/bg--full.jpg");
    }
}

#loadingScreen {
    background-color: #111;
    background-image: url("../img/icons/loader.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px 150px;
    width: 100vw;
    height: 100vh;
    z-index: 500000;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    &.visible {
        visibility: visible;
        opacity: 1;
    }
}