$bronze: #a37b39;
$gradient: linear-gradient(180deg, rgba(175, 63, 161, 0.7) 0%, rgba(76, 98, 173, 0.7) 100%);

.highlight {
    color: $bronze;
}

a.link {
    transition: all 0.4s ease;
    &:hover,
    &:focus {
        color: $bronze;
    }
}
.section-header {
    font-family: "Roboto Slab", serif;
    letter-spacing: 1px;
    font-weight: 400;
    margin-bottom: 40px;
    &.numbered {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .number {
            flex-grow: 1;
            font-size: 12px;
            text-align: right;
            position: relative;
            font-family: "Roboto", sans-serif;
            &:after {
                content: "";
                position: absolute;
                height: 1px;
                width: 100px;
                background: #fff;
                right: 30px;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
